<h1><%= ModeOfTransport.model_name.human(count: @mode_of_transports.count) %></h1>

<% if @mode_of_transports.any? %> 
  <% @mode_of_transports.each do |mt| %>
    <% if mt.activated? %>
      <h2><%= link_to mt.name, mt %></h2>
    <% else %>
      <h2><%= link_to mt.name, mt %> [desativado]</h2>
    <% end %>
  <% end %>
<% else %>
  <%= 'Não existem modalidades cadastradas.' %>
<% end %>
